Repository BudnikOleksii/track-my-life: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt --write, oxlint --fix, stylelint --fix

chore: improve sidebar
  .coderabbit.yaml
  apps/money-tracker/src/app/[locale]/(app-layout)/components/app-sidebar/AppSidebar.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/layout.module.scss
  packages/ui/src/styles/tokens/metrics.scss
Due: stylelint --fix

fix: use double quotes in UI SCSS token files for stylelint compliance
  packages/ui/src/styles/tokens/palette.scss
  packages/ui/src/styles/tokens/shadows.scss
  packages/ui/src/styles/tokens/theme.scss
Due: stylelint --fix

fix: address PR #13 review comments for categories management
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/actions/update-category.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form/CategoryForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-tree/CategoryTree.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-tree/CategoryTree.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-type-filter/CategoryTypeFilter.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/delete-category-dialog/DeleteCategoryDialog.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/hooks/use-category-management.ts
  packages/shared/src/api/services/category-api.service.ts
  packages/ui/src/components/atoms/checkbox/checkbox.module.scss
  packages/ui/src/components/atoms/checkbox/checkbox.tsx
  packages/ui/src/components/atoms/select/select.tsx
Due: oxfmt --write, oxlint --fix, stylelint --fix

refactor: use generated API types for category management
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/actions/fetch-category-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form/CategoryForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-tree/CategoryTree.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-type-filter/CategoryTypeFilter.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/delete-category-dialog/DeleteCategoryDialog.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/constants/category-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/hooks/use-category-management.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/page.content.tsx
  packages/shared/src/api/generated/index.ts
  packages/shared/src/api/generated/types.gen.ts
Due: oxfmt --write, oxlint --fix

fix: align openspec specs with actual implementation
  openspec/specs/category-crud/spec.md
  openspec/specs/category-settings-ui/spec.md
Due: oxfmt --write

Apply suggestions from code review
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-type-filter/CategoryTypeFilter.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/constants/category-form-schema.ts
Due: oxfmt --write, oxlint --fix

chore: update formatting and claude settings
  .claude/settings.json
  .claude/settings.local.json
  .coderabbit.yaml
  .github/actions/env-versions/action.yml
  .github/actions/setup-pnpm-node-deps/action.yaml
  .serena/project.yml
  packages/shared/.serena/project.yml
Due: oxfmt --write

chore: remove fmt for scss files, stylelint should handle it
  .oxfmtrc.json
  packages/shared/src/api/services/category-api.service.ts
Due: oxfmt --write, oxlint --fix

fix: address PR review comments for transactions CRUD
  apps/money-tracker/messages/en/transactions-page.json
  apps/money-tracker/messages/uk/transactions-page.json
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/update-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/delete-transaction-dialog/DeleteTransactionDialog.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form/TransactionForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form/hooks/use-transaction-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/constants/transaction-form-schema.ts
  apps/money-tracker/src/constants/transaction.ts
  packages/ui/src/components/molecules/toaster/toast.ts
Due: oxfmt --write, oxlint --fix

fix: add error handling and extract category list hook
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form/hooks/use-category-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form/hooks/use-transaction-form.ts
Due: oxfmt --write, oxlint --fix

chore: remove outdated docs
  apps/money-tracker/docs/phase-0-app-shell.md
  apps/money-tracker/docs/phase-4-dashboard.md
Due: oxfmt --write

chore: update agents rules
  .claude/rules/javascript.md
  .claude/settings.local.json
  .cursor/rules/general.mdc
  .cursor/rules/javascript.mdc
  .rulesync/rules/general.md
  .rulesync/rules/javascript.md
  CLAUDE.md
Due: oxfmt --write

refactor: remove client-side list state, rely on revalidatePath for data refresh
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-list-server/CategoryListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/hooks/use-category-management.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list-server/TransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/hooks/use-transaction-dialogs.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/page.content.tsx
Due: oxfmt --write, oxlint --fix

chore: archive migrate-to-server-fetching and sync specs
  openspec/changes/archive/2026-03-28-migrate-to-server-fetching/.openspec.yaml
  openspec/changes/archive/2026-03-28-migrate-to-server-fetching/design.md
  openspec/changes/archive/2026-03-28-migrate-to-server-fetching/proposal.md
  openspec/changes/archive/2026-03-28-migrate-to-server-fetching/specs/category-crud/spec.md
  openspec/changes/archive/2026-03-28-migrate-to-server-fetching/specs/dashboard-analytics/spec.md
  openspec/changes/archive/2026-03-28-migrate-to-server-fetching/specs/server-data-loading/spec.md
  openspec/changes/archive/2026-03-28-migrate-to-server-fetching/specs/server-side-filtering/spec.md
  openspec/changes/archive/2026-03-28-migrate-to-server-fetching/specs/transaction-list-ui/spec.md
  openspec/changes/archive/2026-03-28-migrate-to-server-fetching/tasks.md
  openspec/specs/category-crud/spec.md
  openspec/specs/dashboard-analytics/spec.md
  openspec/specs/server-data-loading/spec.md
  openspec/specs/server-side-filtering/spec.md
  openspec/specs/transaction-list-ui/spec.md
Due: oxfmt --write

fix: address PR review — normalize searchParams, reset page on pageSize change
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/constants/dashboard.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list-server/TransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/hooks/use-transaction-filters.ts
  openspec/specs/dashboard-analytics/spec.md
  openspec/specs/server-data-loading/spec.md
Due: oxfmt --write, oxlint --fix

chore: improve agents rules
  .claude/rules/javascript.md
  .claude/rules/react.md
  .claude/rules/storybook.md
  .claude/settings.local.json
  .cursor/rules/general.mdc
  .cursor/rules/storybook.mdc
  .rulesync/rules/general.md
  .rulesync/rules/storybook.md
  CLAUDE.md
Due: oxfmt --write

refactor: redesign token management with read-only/read-write provider split (#18)
  apps/money-tracker/src/proxy.ts
  openspec/changes/redesign-token-management/.openspec.yaml
  openspec/changes/redesign-token-management/design.md
  openspec/changes/redesign-token-management/proposal.md
  openspec/changes/redesign-token-management/specs/middleware-auth-gate/spec.md
  openspec/changes/redesign-token-management/specs/server-data-loading/spec.md
  openspec/changes/redesign-token-management/specs/token-provider-split/spec.md
  openspec/changes/redesign-token-management/tasks.md
  packages/shared/src/api/client/interceptors/auth-interceptor.ts
  packages/shared/src/api/client/token/middleware-token-provider.ts
  packages/shared/src/api/client/token/rsc-token-provider.ts
  packages/shared/src/api/client/token/server-action-token-provider.ts
  packages/shared/src/api/client/token/types.ts
Due: oxfmt --write, oxlint --fix

chore: archive redesign-token-management and sync specs
  openspec/changes/archive/2026-03-28-redesign-token-management/.openspec.yaml
  openspec/changes/archive/2026-03-28-redesign-token-management/design.md
  openspec/changes/archive/2026-03-28-redesign-token-management/proposal.md
  openspec/changes/archive/2026-03-28-redesign-token-management/specs/middleware-auth-gate/spec.md
  openspec/changes/archive/2026-03-28-redesign-token-management/specs/server-data-loading/spec.md
  openspec/changes/archive/2026-03-28-redesign-token-management/specs/token-provider-split/spec.md
  openspec/changes/archive/2026-03-28-redesign-token-management/tasks.md
  openspec/specs/middleware-auth-gate/spec.md
  openspec/specs/server-data-loading/spec.md
  openspec/specs/token-provider-split/spec.md
Due: oxfmt --write

refactor: redesign token management with read-only/read-write provider split (#18) (#21)
  apps/money-tracker/src/proxy.ts
  openspec/changes/archive/2026-03-28-redesign-token-management/.openspec.yaml
  openspec/changes/archive/2026-03-28-redesign-token-management/design.md
  openspec/changes/archive/2026-03-28-redesign-token-management/proposal.md
  openspec/changes/archive/2026-03-28-redesign-token-management/specs/middleware-auth-gate/spec.md
  openspec/changes/archive/2026-03-28-redesign-token-management/specs/server-data-loading/spec.md
  openspec/changes/archive/2026-03-28-redesign-token-management/specs/token-provider-split/spec.md
  openspec/changes/archive/2026-03-28-redesign-token-management/tasks.md
  openspec/specs/middleware-auth-gate/spec.md
  openspec/specs/server-data-loading/spec.md
  openspec/specs/token-provider-split/spec.md
  packages/shared/src/api/client/interceptors/auth-interceptor.ts
  packages/shared/src/api/client/token/middleware-token-provider.ts
  packages/shared/src/api/client/token/rsc-token-provider.ts
  packages/shared/src/api/client/token/server-action-token-provider.ts
  packages/shared/src/api/client/token/types.ts
Due: oxfmt --write, oxlint --fix

feat: add personal settings management with profile, password, and account deletion (#19)
  apps/money-tracker/messages/en/settings-page.json
  apps/money-tracker/messages/uk/settings-page.json
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/actions/change-password.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/actions/delete-account.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/actions/fetch-profile.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/actions/update-profile.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/change-password-form/ChangePasswordForm.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/change-password-form/ChangePasswordForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/change-password-form/hooks/use-change-password-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/delete-account-section/DeleteAccountSection.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/delete-account-section/DeleteAccountSection.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/profile-form/ProfileForm.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/profile-form/ProfileForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/profile-form/hooks/use-profile-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/settings-page-server/SettingsPageServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/change-password-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/country-option-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/currency-option-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/delete-account-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/profile-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/page.tsx
  packages/shared/src/api/generated/index.ts
  packages/shared/src/api/generated/types.gen.ts
  packages/shared/src/api/rsc-api.ts
  packages/shared/src/api/server-api.ts
  packages/shared/src/api/services/profile-api.service.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

fix: address PR review - redirect error handling, type safety, and validation messages
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/delete-account-section/DeleteAccountSection.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/profile-form/hooks/use-profile-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/change-password-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/delete-account-form-schema.ts
Due: oxfmt --write, oxlint --fix

chore: add openspec to repo
  openspec/changes/archive/2026-03-28-personal-settings-management/.openspec.yaml
  openspec/changes/archive/2026-03-28-personal-settings-management/design.md
  openspec/changes/archive/2026-03-28-personal-settings-management/proposal.md
  openspec/changes/archive/2026-03-28-personal-settings-management/specs/profile-api-service/spec.md
  openspec/changes/archive/2026-03-28-personal-settings-management/specs/profile-server-actions/spec.md
  openspec/changes/archive/2026-03-28-personal-settings-management/specs/profile-settings-ui/spec.md
  openspec/changes/archive/2026-03-28-personal-settings-management/tasks.md
  openspec/specs/profile-api-service/spec.md
  openspec/specs/profile-server-actions/spec.md
  openspec/specs/profile-settings-ui/spec.md
Due: oxfmt --write

feat: add personal settings management with profile, password, and account deletion (#19) (#22)
  apps/money-tracker/messages/en/settings-page.json
  apps/money-tracker/messages/uk/settings-page.json
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/actions/change-password.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/actions/delete-account.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/actions/fetch-profile.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/actions/update-profile.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/change-password-form/ChangePasswordForm.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/change-password-form/ChangePasswordForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/change-password-form/hooks/use-change-password-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/delete-account-section/DeleteAccountSection.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/delete-account-section/DeleteAccountSection.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/profile-form/ProfileForm.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/profile-form/ProfileForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/profile-form/hooks/use-profile-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/components/settings-page-server/SettingsPageServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/change-password-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/country-option-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/currency-option-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/delete-account-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/profile-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/page.tsx
  openspec/changes/archive/2026-03-28-personal-settings-management/.openspec.yaml
  openspec/changes/archive/2026-03-28-personal-settings-management/design.md
  openspec/changes/archive/2026-03-28-personal-settings-management/proposal.md
  openspec/changes/archive/2026-03-28-personal-settings-management/specs/profile-api-service/spec.md
  openspec/changes/archive/2026-03-28-personal-settings-management/specs/profile-server-actions/spec.md
  openspec/changes/archive/2026-03-28-personal-settings-management/specs/profile-settings-ui/spec.md
  openspec/changes/archive/2026-03-28-personal-settings-management/tasks.md
  openspec/specs/profile-api-service/spec.md
  openspec/specs/profile-server-actions/spec.md
  openspec/specs/profile-settings-ui/spec.md
  packages/shared/src/api/generated/index.ts
  packages/shared/src/api/generated/types.gen.ts
  packages/shared/src/api/rsc-api.ts
  packages/shared/src/api/server-api.ts
  packages/shared/src/api/services/profile-api.service.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

refactor: improve code quality with shared constants and i18n fixes (#20)
  apps/money-tracker/messages/en/settings-page.json
  apps/money-tracker/messages/uk/settings-page.json
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/constants/categories.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/hooks/use-category-filters.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/components/page-skeleton/PageSkeleton.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/components/page-skeleton/PageSkeleton.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/top-category-list/TopCategoryList.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/top-category-list/TopCategoryList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/constants/dashboard.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/change-password-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/actions/change-password.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/actions/delete-account.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/actions/fetch-profile.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/actions/update-profile.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/change-password-form/ChangePasswordForm.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/change-password-form/ChangePasswordForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/change-password-form/hooks/use-change-password-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/delete-account-section/DeleteAccountSection.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/delete-account-section/DeleteAccountSection.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/ProfileForm.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/ProfileForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/hooks/use-profile-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/settings-page-server/SettingsPageServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/constants/change-password-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/constants/country-option-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/constants/currency-option-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/constants/delete-account-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/constants/profile-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list-server/TransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/page.tsx
  apps/money-tracker/src/app/[locale]/(auth-layout)/constants/auth-form-schema.ts
  apps/money-tracker/src/constants/min-password-length.ts
  apps/money-tracker/src/constants/normalize-param.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

refactor: improve code quality with shared constants and i18n fixes (#20) (#23)
  apps/money-tracker/messages/en/settings-page.json
  apps/money-tracker/messages/uk/settings-page.json
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/constants/categories.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/hooks/use-category-filters.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/components/page-skeleton/PageSkeleton.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/components/page-skeleton/PageSkeleton.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/top-category-list/TopCategoryList.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/top-category-list/TopCategoryList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/constants/dashboard.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/(settings-layout)/constants/change-password-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/actions/change-password.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/actions/delete-account.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/actions/fetch-profile.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/actions/update-profile.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/change-password-form/ChangePasswordForm.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/change-password-form/ChangePasswordForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/change-password-form/hooks/use-change-password-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/delete-account-section/DeleteAccountSection.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/delete-account-section/DeleteAccountSection.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/ProfileForm.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/ProfileForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/hooks/use-profile-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/settings-page-server/SettingsPageServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/constants/change-password-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/constants/country-option-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/constants/currency-option-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/constants/delete-account-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/constants/profile-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list-server/TransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/page.tsx
  apps/money-tracker/src/app/[locale]/(auth-layout)/constants/auth-form-schema.ts
  apps/money-tracker/src/constants/min-password-length.ts
  apps/money-tracker/src/constants/normalize-param.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

feat: add user onboarding wizard with middleware gate (#21)
  apps/money-tracker/messages/en/onboarding-page.json
  apps/money-tracker/messages/uk/onboarding-page.json
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/layout.module.scss
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/layout.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/actions/complete-onboarding.ts
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/actions/update-onboarding-profile.ts
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/complete-step/CompleteStep.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/profile-step/ProfileStep.module.scss
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/profile-step/ProfileStep.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/profile-step/hooks/use-onboarding-profile-form.ts
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/skip-button/SkipButton.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/step-indicator/StepIndicator.module.scss
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/step-indicator/StepIndicator.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/welcome-step/WelcomeStep.module.scss
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/welcome-step/WelcomeStep.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/constants/onboarding-step.ts
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/page.content.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/page.module.scss
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/page.tsx
  apps/money-tracker/src/constants/paths.ts
  apps/money-tracker/src/i18n/constants/i18n-namespace.ts
  apps/money-tracker/src/i18n/constants/localization-messages-file-name-by-namespace.ts
  apps/money-tracker/src/proxy.ts
  openspec/changes/user-onboarding/.openspec.yaml
  openspec/changes/user-onboarding/design.md
  openspec/changes/user-onboarding/proposal.md
  openspec/changes/user-onboarding/specs/onboarding-gate/spec.md
  openspec/changes/user-onboarding/specs/onboarding-wizard-ui/spec.md
  openspec/changes/user-onboarding/specs/profile-api-service/spec.md
  openspec/changes/user-onboarding/specs/profile-settings-ui/spec.md
  openspec/changes/user-onboarding/tasks.md
  packages/shared/src/api/generated/types.gen.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

refactor: onboarding
  .claude/settings.local.json
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/step-indicator/StepIndicator.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/constants/onboarding-step.ts
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/page.content.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/page.tsx
Due: oxfmt --write, oxlint --fix

refactor: onboarding
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/constants/onboarding-step.ts
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/page.content.tsx
Due: oxfmt --write, oxlint --fix

fix: scope onboarding cookie per user and skip caching on API errors
  .claude/settings.local.json
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/actions/complete-onboarding.ts
  apps/money-tracker/src/proxy.ts
Due: oxfmt --write, oxlint --fix

chore: update specs
  .claude/settings.json
  .coderabbit.yaml
  .gitignore
  openspec/changes/archive/2026-03-29-user-onboarding/.openspec.yaml
  openspec/changes/archive/2026-03-29-user-onboarding/design.md
  openspec/changes/archive/2026-03-29-user-onboarding/proposal.md
  openspec/changes/archive/2026-03-29-user-onboarding/specs/onboarding-gate/spec.md
  openspec/changes/archive/2026-03-29-user-onboarding/specs/onboarding-wizard-ui/spec.md
  openspec/changes/archive/2026-03-29-user-onboarding/specs/profile-api-service/spec.md
  openspec/changes/archive/2026-03-29-user-onboarding/specs/profile-settings-ui/spec.md
  openspec/changes/archive/2026-03-29-user-onboarding/tasks.md
  openspec/specs/onboarding-gate/spec.md
  openspec/specs/onboarding-wizard-ui/spec.md
  openspec/specs/profile-api-service/spec.md
  openspec/specs/profile-settings-ui/spec.md
Due: oxfmt --write

Path conditions:
  oxfmt --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md})
  oxlint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: any of: *.{scss,css}
