Repository BudnikOleksii/track-my-life: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt --write, oxlint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["oxfmt --write", "oxlint --fix"],
  "*.{json,md}": ["oxfmt --write"],
  "*.{scss,css}": ["stylelint --fix"]
}

feat: add user onboarding wizard with middleware gate (#21) (#24)
  .claude/settings.json
  .claude/settings.local.json
  .coderabbit.yaml
  .gitignore
  apps/money-tracker/messages/en/onboarding-page.json
  apps/money-tracker/messages/uk/onboarding-page.json
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/layout.module.scss
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/layout.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/actions/complete-onboarding.ts
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/actions/update-onboarding-profile.ts
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/complete-step/CompleteStep.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/profile-step/ProfileStep.module.scss
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/profile-step/ProfileStep.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/profile-step/hooks/use-onboarding-profile-form.ts
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/skip-button/SkipButton.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/step-indicator/StepIndicator.module.scss
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/step-indicator/StepIndicator.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/welcome-step/WelcomeStep.module.scss
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/welcome-step/WelcomeStep.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/constants/onboarding-step.ts
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/page.content.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/page.module.scss
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/page.tsx
  apps/money-tracker/src/constants/paths.ts
  apps/money-tracker/src/i18n/constants/i18n-namespace.ts
  apps/money-tracker/src/i18n/constants/localization-messages-file-name-by-namespace.ts
  apps/money-tracker/src/proxy.ts
  openspec/changes/archive/2026-03-29-user-onboarding/.openspec.yaml
  openspec/changes/archive/2026-03-29-user-onboarding/design.md
  openspec/changes/archive/2026-03-29-user-onboarding/proposal.md
  openspec/changes/archive/2026-03-29-user-onboarding/specs/onboarding-gate/spec.md
  openspec/changes/archive/2026-03-29-user-onboarding/specs/onboarding-wizard-ui/spec.md
  openspec/changes/archive/2026-03-29-user-onboarding/specs/profile-api-service/spec.md
  openspec/changes/archive/2026-03-29-user-onboarding/specs/profile-settings-ui/spec.md
  openspec/changes/archive/2026-03-29-user-onboarding/tasks.md
  openspec/specs/onboarding-gate/spec.md
  openspec/specs/onboarding-wizard-ui/spec.md
  openspec/specs/profile-api-service/spec.md
  openspec/specs/profile-settings-ui/spec.md
  packages/shared/src/api/generated/types.gen.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

fix: after review
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form-page/CategoryFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/TransactionFormPage.tsx
  packages/shared/src/api/generated/types.gen.ts
Due: oxfmt --write, oxlint --fix

fix: address PR review — locale-aware dates, separate link from actions, double selector
  apps/money-tracker/src/app/[locale]/(app-layout)/recurring-transactions/[id]/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/recurring-transactions/components/recurring-transaction-list/RecurringTransactionList.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/recurring-transactions/components/recurring-transaction-list/RecurringTransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/recurring-transactions/components/recurring-transaction-status-filter/RecurringTransactionStatusFilter.module.scss
Due: oxfmt --write, oxlint --fix, stylelint --fix

fix: refresh detail view after pause/resume actions
  apps/money-tracker/src/app/[locale]/(app-layout)/recurring-transactions/[id]/page.content.tsx
Due: oxfmt --write, oxlint --fix

chore: add skill to handle pr review comments
  .claude/skills/review-comments/SKILL.md
  .cursor/skills/review-comments/SKILL.md
Due: oxfmt --write

refactor: use generated API types for sort/filter and replace type assertions with typeguards
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/fetch-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list-server/TransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/constants/parse-transaction-search-params.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/constants/sort.ts
  packages/shared/src/utils/search-params.ts
Due: oxfmt --write, oxlint --fix

refactor: add shared CURRENCY_CODE_LIST constant and checkIsCurrencyCode typeguard
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list-server/TransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/constants/sort.ts
  packages/shared/src/constants/currency.ts
Due: oxfmt --write, oxlint --fix

chore: include updated generated API types and autoformatted currency constants
  packages/shared/src/api/generated/index.ts
  packages/shared/src/api/generated/types.gen.ts
  packages/shared/src/constants/currency.ts
Due: oxfmt --write, oxlint --fix

fix: address PR review — stale filters, timezone, sort-order grouping, and validation
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-category-filter/TransactionCategoryFilter.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list-server/TransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list/TransactionList.tsx
  packages/shared/src/constants/currency.ts
  packages/shared/src/utils/date.ts
  packages/shared/src/utils/search-params.ts
Due: oxfmt --write, oxlint --fix

fix: address PR review — export date interfaces and add categoryList fallback
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list-server/TransactionListServer.tsx
  packages/shared/src/utils/date.ts
Due: oxfmt --write, oxlint --fix

feat: add transactions by category page with category list and detail views (#25)
  apps/money-tracker/messages/en/navigation.json
  apps/money-tracker/messages/en/transactions-by-category-page.json
  apps/money-tracker/messages/uk/navigation.json
  apps/money-tracker/messages/uk/transactions-by-category-page.json
  apps/money-tracker/src/app/[locale]/(app-layout)/components/app-sidebar/AppSidebar.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/components/transactions-by-category-server/TransactionsByCategoryServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/actions/fetch-transactions-by-category.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/components/category-list-server/CategoryListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/page.tsx
  apps/money-tracker/src/constants/paths.ts
  apps/money-tracker/src/i18n/constants/i18n-namespace.ts
  apps/money-tracker/src/i18n/constants/localization-messages-file-name-by-namespace.ts
  packages/shared/src/api/services/transaction-api.service.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

chore: archive spec and minor fixes
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/actions/fetch-transactions-by-category.ts
  openspec/changes/archive/2026-04-03-transactions-by-category-page/.openspec.yaml
  openspec/changes/archive/2026-04-03-transactions-by-category-page/design.md
  openspec/changes/archive/2026-04-03-transactions-by-category-page/proposal.md
  openspec/changes/archive/2026-04-03-transactions-by-category-page/specs/app-navigation/spec.md
  openspec/changes/archive/2026-04-03-transactions-by-category-page/specs/transactions-by-category-data/spec.md
  openspec/changes/archive/2026-04-03-transactions-by-category-page/specs/transactions-by-category-ui/spec.md
  openspec/changes/archive/2026-04-03-transactions-by-category-page/tasks.md
  openspec/specs/app-navigation/spec.md
  openspec/specs/transactions-by-category-data/spec.md
  openspec/specs/transactions-by-category-ui/spec.md
  packages/shared/src/api/services/transaction-api.service.ts
Due: oxfmt --write, oxlint --fix

refactor: code quality improvements
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/recent-transaction-list/RecentTransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/summary-widget/SummaryWidget.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/top-category-list/TopCategoryList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/recurring-transactions/components/recurring-transaction-list/RecurringTransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list/TransactionList.tsx
  apps/money-tracker/src/constants/paths.ts
  apps/money-tracker/src/constants/transaction.ts
  packages/shared/src/utils/format-amount.ts
Due: oxfmt --write, oxlint --fix

feat: add transactions by category page with category list and detail views (#25) (#28)
  apps/money-tracker/messages/en/navigation.json
  apps/money-tracker/messages/en/transactions-by-category-page.json
  apps/money-tracker/messages/uk/navigation.json
  apps/money-tracker/messages/uk/transactions-by-category-page.json
  apps/money-tracker/src/app/[locale]/(app-layout)/components/app-sidebar/AppSidebar.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/recent-transaction-list/RecentTransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/summary-widget/SummaryWidget.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/top-category-list/TopCategoryList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/recurring-transactions/components/recurring-transaction-list/RecurringTransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/components/transactions-by-category-server/TransactionsByCategoryServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/actions/fetch-transactions-by-category.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/components/category-list-server/CategoryListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list/TransactionList.tsx
  apps/money-tracker/src/constants/paths.ts
  apps/money-tracker/src/constants/transaction.ts
  apps/money-tracker/src/i18n/constants/i18n-namespace.ts
  apps/money-tracker/src/i18n/constants/localization-messages-file-name-by-namespace.ts
  openspec/changes/archive/2026-04-03-transactions-by-category-page/.openspec.yaml
  openspec/changes/archive/2026-04-03-transactions-by-category-page/design.md
  openspec/changes/archive/2026-04-03-transactions-by-category-page/proposal.md
  openspec/changes/archive/2026-04-03-transactions-by-category-page/specs/app-navigation/spec.md
  openspec/changes/archive/2026-04-03-transactions-by-category-page/specs/transactions-by-category-data/spec.md
  openspec/changes/archive/2026-04-03-transactions-by-category-page/specs/transactions-by-category-ui/spec.md
  openspec/changes/archive/2026-04-03-transactions-by-category-page/tasks.md
  openspec/specs/app-navigation/spec.md
  openspec/specs/transactions-by-category-data/spec.md
  openspec/specs/transactions-by-category-ui/spec.md
  packages/shared/src/api/services/transaction-api.service.ts
  packages/shared/src/utils/format-amount.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

fix: resolve double-active sidebar state with nested transactions submenu (#29)
  apps/money-tracker/messages/en/navigation.json
  apps/money-tracker/messages/uk/navigation.json
  apps/money-tracker/src/app/[locale]/(app-layout)/components/app-header/AppHeader.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/components/app-sidebar/AppSidebar.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/components/app-sidebar/AppSidebar.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/edit/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/create-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/delete-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/fetch-recurring-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/fetch-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/pause-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/resume-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/update-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/delete-recurring-transaction-dialog/DeleteRecurringTransactionDialog.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/RecurringTransactionFormPage.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/RecurringTransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/hooks/use-recurring-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-list-server/RecurringTransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-list/RecurringTransactionList.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-list/RecurringTransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-status-filter/RecurringTransactionStatusFilter.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-status-filter/RecurringTransactionStatusFilter.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/constants/recurring-transaction-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/constants/recurring-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/create/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/hooks/use-recurring-transaction-filters.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/page.tsx
  apps/money-tracker/src/constants/paths.ts
  openspec/changes/archive/2026-04-03-nested-transactions-sidebar-menu/.openspec.yaml
  openspec/changes/archive/2026-04-03-nested-transactions-sidebar-menu/design.md
  openspec/changes/archive/2026-04-03-nested-transactions-sidebar-menu/proposal.md
  openspec/changes/archive/2026-04-03-nested-transactions-sidebar-menu/specs/app-navigation/spec.md
  openspec/changes/archive/2026-04-03-nested-transactions-sidebar-menu/specs/collapsible-sidebar-submenu/spec.md
  openspec/changes/archive/2026-04-03-nested-transactions-sidebar-menu/tasks.md
  openspec/specs/collapsible-sidebar-submenu/spec.md
Due: oxfmt --write, oxlint --fix, stylelint --fix

fix: address PR review — submenu toggle and accessibility
  apps/money-tracker/src/app/[locale]/(app-layout)/components/app-sidebar/AppSidebar.tsx
Due: oxfmt --write, oxlint --fix

fix: resolve double-active sidebar state with nested transactions submenu (#29) (#30)
  apps/money-tracker/messages/en/navigation.json
  apps/money-tracker/messages/uk/navigation.json
  apps/money-tracker/src/app/[locale]/(app-layout)/components/app-header/AppHeader.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/components/app-sidebar/AppSidebar.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/components/app-sidebar/AppSidebar.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/edit/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/create-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/delete-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/fetch-recurring-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/fetch-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/pause-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/resume-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/update-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/delete-recurring-transaction-dialog/DeleteRecurringTransactionDialog.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/RecurringTransactionFormPage.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/RecurringTransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/hooks/use-recurring-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-list-server/RecurringTransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-list/RecurringTransactionList.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-list/RecurringTransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-status-filter/RecurringTransactionStatusFilter.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-status-filter/RecurringTransactionStatusFilter.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/constants/recurring-transaction-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/constants/recurring-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/create/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/hooks/use-recurring-transaction-filters.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/page.tsx
  apps/money-tracker/src/constants/paths.ts
  openspec/changes/archive/2026-04-03-nested-transactions-sidebar-menu/.openspec.yaml
  openspec/changes/archive/2026-04-03-nested-transactions-sidebar-menu/design.md
  openspec/changes/archive/2026-04-03-nested-transactions-sidebar-menu/proposal.md
  openspec/changes/archive/2026-04-03-nested-transactions-sidebar-menu/specs/app-navigation/spec.md
  openspec/changes/archive/2026-04-03-nested-transactions-sidebar-menu/specs/collapsible-sidebar-submenu/spec.md
  openspec/changes/archive/2026-04-03-nested-transactions-sidebar-menu/tasks.md
  openspec/specs/collapsible-sidebar-submenu/spec.md
Due: oxfmt --write, oxlint --fix, stylelint --fix

chore: add fix-issue command
  .claude/commands/fix-issue.md
  .cursor/commands/fix-issue.md
Due: oxfmt --write

fix: use timezone-safe string parsing in getYearMonth (#20)
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/daily-spending-chart/DailySpendingChartServer.tsx
  openspec/changes/archive/2026-04-03-fix-utc-timezone-extract-year-month/.openspec.yaml
  openspec/changes/archive/2026-04-03-fix-utc-timezone-extract-year-month/design.md
  openspec/changes/archive/2026-04-03-fix-utc-timezone-extract-year-month/proposal.md
  openspec/changes/archive/2026-04-03-fix-utc-timezone-extract-year-month/specs/dashboard-analytics/spec.md
  openspec/changes/archive/2026-04-03-fix-utc-timezone-extract-year-month/tasks.md
  openspec/specs/dashboard-analytics/spec.md
Due: oxfmt --write, oxlint --fix

refactor: move getYearMonth and getUtcYearMonth to shared date utils (#20)
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/daily-spending-chart/DailySpendingChartServer.tsx
  packages/shared/src/utils/date.ts
Due: oxfmt --write, oxlint --fix

fix: use timezone-safe string parsing in getYearMonth (#20) (#31)
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/daily-spending-chart/DailySpendingChartServer.tsx
  openspec/changes/archive/2026-04-03-fix-utc-timezone-extract-year-month/.openspec.yaml
  openspec/changes/archive/2026-04-03-fix-utc-timezone-extract-year-month/design.md
  openspec/changes/archive/2026-04-03-fix-utc-timezone-extract-year-month/proposal.md
  openspec/changes/archive/2026-04-03-fix-utc-timezone-extract-year-month/specs/dashboard-analytics/spec.md
  openspec/changes/archive/2026-04-03-fix-utc-timezone-extract-year-month/tasks.md
  openspec/specs/dashboard-analytics/spec.md
  packages/shared/src/utils/date.ts
Due: oxfmt --write, oxlint --fix

feat: add home landing page with hero, advantages, reviews, and FAQ sections
  apps/money-tracker/messages/en/home-page.json
  apps/money-tracker/messages/uk/home-page.json
  apps/money-tracker/src/app/[locale]/(home-layout)/components/AdvantagesSection/AdvantagesSection.module.scss
  apps/money-tracker/src/app/[locale]/(home-layout)/components/AdvantagesSection/AdvantagesSection.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/components/FaqSection/FaqSection.module.scss
  apps/money-tracker/src/app/[locale]/(home-layout)/components/FaqSection/FaqSection.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/components/Footer/Footer.module.scss
  apps/money-tracker/src/app/[locale]/(home-layout)/components/Footer/Footer.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/components/HeroSection/HeroSection.module.scss
  apps/money-tracker/src/app/[locale]/(home-layout)/components/HeroSection/HeroSection.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/components/ReviewsSection/ReviewsSection.module.scss
  apps/money-tracker/src/app/[locale]/(home-layout)/components/ReviewsSection/ReviewsSection.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/layout.module.scss
  apps/money-tracker/src/app/[locale]/(home-layout)/layout.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/page.content.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/page.module.scss
  openspec/changes/home-landing-page/.openspec.yaml
  openspec/changes/home-landing-page/design.md
  openspec/changes/home-landing-page/proposal.md
  openspec/changes/home-landing-page/specs/home-landing-page/spec.md
  openspec/changes/home-landing-page/tasks.md
Due: oxfmt --write, oxlint --fix, stylelint --fix

refactor: use TranslateFn type and add home path constant
  apps/money-tracker/src/app/[locale]/(home-layout)/components/AdvantagesSection/AdvantagesSection.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/components/FaqSection/FaqSection.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/components/Footer/Footer.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/components/HeroSection/HeroSection.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/components/ReviewsSection/ReviewsSection.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/page.content.tsx
  apps/money-tracker/src/constants/paths.ts
  apps/money-tracker/src/proxy.ts
  docs/server-actions-vs-client-api.md
  openspec/changes/archive/2026-04-03-home-landing-page/.openspec.yaml
  openspec/changes/archive/2026-04-03-home-landing-page/design.md
  openspec/changes/archive/2026-04-03-home-landing-page/proposal.md
  openspec/changes/archive/2026-04-03-home-landing-page/specs/home-landing-page/spec.md
  openspec/changes/archive/2026-04-03-home-landing-page/tasks.md
  openspec/specs/home-landing-page/spec.md
Due: oxfmt --write, oxlint --fix

feat: add home landing page with hero, advantages, reviews, and FAQ sections (#32)
  apps/money-tracker/messages/en/home-page.json
  apps/money-tracker/messages/uk/home-page.json
  apps/money-tracker/src/app/[locale]/(home-layout)/components/AdvantagesSection/AdvantagesSection.module.scss
  apps/money-tracker/src/app/[locale]/(home-layout)/components/AdvantagesSection/AdvantagesSection.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/components/FaqSection/FaqSection.module.scss
  apps/money-tracker/src/app/[locale]/(home-layout)/components/FaqSection/FaqSection.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/components/Footer/Footer.module.scss
  apps/money-tracker/src/app/[locale]/(home-layout)/components/Footer/Footer.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/components/HeroSection/HeroSection.module.scss
  apps/money-tracker/src/app/[locale]/(home-layout)/components/HeroSection/HeroSection.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/components/ReviewsSection/ReviewsSection.module.scss
  apps/money-tracker/src/app/[locale]/(home-layout)/components/ReviewsSection/ReviewsSection.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/layout.module.scss
  apps/money-tracker/src/app/[locale]/(home-layout)/layout.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/page.content.tsx
  apps/money-tracker/src/app/[locale]/(home-layout)/page.module.scss
  apps/money-tracker/src/constants/paths.ts
  apps/money-tracker/src/proxy.ts
  docs/server-actions-vs-client-api.md
  openspec/changes/archive/2026-04-03-home-landing-page/.openspec.yaml
  openspec/changes/archive/2026-04-03-home-landing-page/design.md
  openspec/changes/archive/2026-04-03-home-landing-page/proposal.md
  openspec/changes/archive/2026-04-03-home-landing-page/specs/home-landing-page/spec.md
  openspec/changes/archive/2026-04-03-home-landing-page/tasks.md
  openspec/specs/home-landing-page/spec.md
Due: oxfmt --write, oxlint --fix, stylelint --fix

fix: use readOnly instead of disabled on currency inputs to preserve form value
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/TransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/RecurringTransactionFormPage.tsx
Due: oxfmt --write, oxlint --fix

feat: add transaction import from JSON/CSV files (#29)
  apps/money-tracker/messages/en/navigation.json
  apps/money-tracker/messages/en/transactions-import-page.json
  apps/money-tracker/messages/uk/navigation.json
  apps/money-tracker/messages/uk/transactions-import-page.json
  apps/money-tracker/package.json
  apps/money-tracker/src/app/[locale]/(app-layout)/components/app-sidebar/AppSidebar.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/actions/import-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-preview-table/ImportPreviewTable.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-preview-table/ImportPreviewTable.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-summary/ImportSummary.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-summary/ImportSummary.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-transaction-page/ImportTransactionPage.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-transaction-page/ImportTransactionPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-transaction-page/hooks/use-import-transaction-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/constants/import-row-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/constants/parse-import-file.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/constants/validate-import-row-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/page.tsx
  apps/money-tracker/src/constants/paths.ts
  apps/money-tracker/src/i18n/constants/i18n-namespace.ts
  apps/money-tracker/src/i18n/constants/localization-messages-file-name-by-namespace.ts
  openspec/changes/archive/2026-04-04-transaction-import/.openspec.yaml
  openspec/changes/archive/2026-04-04-transaction-import/design.md
  openspec/changes/archive/2026-04-04-transaction-import/proposal.md
  openspec/changes/archive/2026-04-04-transaction-import/specs/transaction-import/spec.md
  openspec/changes/archive/2026-04-04-transaction-import/tasks.md
  openspec/specs/transaction-import/spec.md
  packages/shared/src/api/client/api-client.ts
  packages/shared/src/api/generated/index.ts
  packages/shared/src/api/generated/types.gen.ts
  packages/shared/src/api/services/transaction-api.service.ts
  pnpm-lock.yaml
Due: oxfmt --write, oxlint --fix, stylelint --fix

fix: address PR review — trim strings, scope CSV typing, harden error rendering
  apps/money-tracker/messages/en/transactions-import-page.json
  apps/money-tracker/messages/uk/transactions-import-page.json
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-preview-table/ImportPreviewTable.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/constants/import-row-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/constants/parse-import-file.ts
Due: oxfmt --write, oxlint --fix

feat: add transaction import from JSON/CSV files (#29) (#34)
  apps/money-tracker/messages/en/navigation.json
  apps/money-tracker/messages/en/transactions-import-page.json
  apps/money-tracker/messages/uk/navigation.json
  apps/money-tracker/messages/uk/transactions-import-page.json
  apps/money-tracker/package.json
  apps/money-tracker/src/app/[locale]/(app-layout)/components/app-sidebar/AppSidebar.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/actions/import-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-preview-table/ImportPreviewTable.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-preview-table/ImportPreviewTable.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-summary/ImportSummary.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-summary/ImportSummary.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-transaction-page/ImportTransactionPage.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-transaction-page/ImportTransactionPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-transaction-page/hooks/use-import-transaction-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/constants/import-row-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/constants/parse-import-file.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/constants/validate-import-row-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/page.tsx
  apps/money-tracker/src/constants/paths.ts
  apps/money-tracker/src/i18n/constants/i18n-namespace.ts
  apps/money-tracker/src/i18n/constants/localization-messages-file-name-by-namespace.ts
  openspec/changes/archive/2026-04-04-transaction-import/.openspec.yaml
  openspec/changes/archive/2026-04-04-transaction-import/design.md
  openspec/changes/archive/2026-04-04-transaction-import/proposal.md
  openspec/changes/archive/2026-04-04-transaction-import/specs/transaction-import/spec.md
  openspec/changes/archive/2026-04-04-transaction-import/tasks.md
  openspec/specs/transaction-import/spec.md
  packages/shared/src/api/client/api-client.ts
  packages/shared/src/api/generated/index.ts
  packages/shared/src/api/generated/types.gen.ts
  packages/shared/src/api/services/transaction-api.service.ts
  pnpm-lock.yaml
Due: oxfmt --write, oxlint --fix, stylelint --fix

feat: add transaction export and refactor auth (#30)
  apps/money-tracker/messages/en/transactions-by-category-page.json
  apps/money-tracker/messages/en/transactions-page.json
  apps/money-tracker/messages/uk/transactions-by-category-page.json
  apps/money-tracker/messages/uk/transactions-page.json
  apps/money-tracker/src/actions/sign-out.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/actions/delete-account.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/export-transaction-button/ExportTransactionButton.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/export-transaction-button/ExportTransactionButton.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/export-transaction-button/download-blob.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/page.tsx
  apps/money-tracker/src/app/[locale]/(auth-layout)/sign-in/action.ts
  apps/money-tracker/src/app/[locale]/(auth-layout)/sign-up/action.ts
  apps/money-tracker/src/proxy.ts
  openspec/changes/archive/2026-04-04-add-transaction-export/.openspec.yaml
  openspec/changes/archive/2026-04-04-add-transaction-export/design.md
  openspec/changes/archive/2026-04-04-add-transaction-export/proposal.md
  openspec/changes/archive/2026-04-04-add-transaction-export/specs/transaction-export/spec.md
  openspec/changes/archive/2026-04-04-add-transaction-export/tasks.md
  openspec/specs/transaction-export/spec.md
  packages/shared/src/api/client-api.ts
  packages/shared/src/api/client/api-client.ts
  packages/shared/src/api/client/interceptors/auth-interceptor.ts
  packages/shared/src/api/client/token/browser-token-provider.ts
  packages/shared/src/api/client/token/middleware-token-provider.ts
  packages/shared/src/api/client/token/rsc-token-provider.ts
  packages/shared/src/api/client/token/server-action-token-provider.ts
  packages/shared/src/api/client/token/types.ts
  packages/shared/src/api/client/types.ts
  packages/shared/src/api/generated/index.ts
  packages/shared/src/api/generated/types.gen.ts
  packages/shared/src/api/rsc-api.ts
  packages/shared/src/api/server-api.ts
  packages/shared/src/api/services/auth-api.service.ts
  packages/shared/src/api/services/transaction-api.service.ts
  packages/shared/src/constants/cookie.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

feat: add transaction export and refactor auth (#30) (#35)
  apps/money-tracker/messages/en/transactions-by-category-page.json
  apps/money-tracker/messages/en/transactions-page.json
  apps/money-tracker/messages/uk/transactions-by-category-page.json
  apps/money-tracker/messages/uk/transactions-page.json
  apps/money-tracker/src/actions/sign-out.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/actions/delete-account.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/export-transaction-button/ExportTransactionButton.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/export-transaction-button/ExportTransactionButton.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/export-transaction-button/download-blob.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/page.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/page.tsx
  apps/money-tracker/src/app/[locale]/(auth-layout)/sign-in/action.ts
  apps/money-tracker/src/app/[locale]/(auth-layout)/sign-up/action.ts
  apps/money-tracker/src/proxy.ts
  openspec/changes/archive/2026-04-04-add-transaction-export/.openspec.yaml
  openspec/changes/archive/2026-04-04-add-transaction-export/design.md
  openspec/changes/archive/2026-04-04-add-transaction-export/proposal.md
  openspec/changes/archive/2026-04-04-add-transaction-export/specs/transaction-export/spec.md
  openspec/changes/archive/2026-04-04-add-transaction-export/tasks.md
  openspec/specs/transaction-export/spec.md
  packages/shared/src/api/client-api.ts
  packages/shared/src/api/client/api-client.ts
  packages/shared/src/api/client/interceptors/auth-interceptor.ts
  packages/shared/src/api/client/token/browser-token-provider.ts
  packages/shared/src/api/client/token/middleware-token-provider.ts
  packages/shared/src/api/client/token/rsc-token-provider.ts
  packages/shared/src/api/client/token/server-action-token-provider.ts
  packages/shared/src/api/client/token/types.ts
  packages/shared/src/api/client/types.ts
  packages/shared/src/api/generated/index.ts
  packages/shared/src/api/generated/types.gen.ts
  packages/shared/src/api/rsc-api.ts
  packages/shared/src/api/server-api.ts
  packages/shared/src/api/services/auth-api.service.ts
  packages/shared/src/api/services/transaction-api.service.ts
  packages/shared/src/constants/cookie.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

fix: forward refresh token cookie from backend to browser (#31)
  apps/money-tracker/src/app/[locale]/(auth-layout)/sign-in/action.ts
  apps/money-tracker/src/app/[locale]/(auth-layout)/sign-up/action.ts
  apps/money-tracker/src/proxy.ts
  packages/shared/src/api/client/interceptors/auth-interceptor.ts
  packages/shared/src/api/client/token/forward-response-cookie-list.ts
  packages/shared/src/api/server-api.ts
Due: oxfmt --write, oxlint --fix

fix: forward refresh token cookie from backend to browser (#31) (#36)
  apps/money-tracker/src/app/[locale]/(auth-layout)/sign-in/action.ts
  apps/money-tracker/src/app/[locale]/(auth-layout)/sign-up/action.ts
  apps/money-tracker/src/proxy.ts
  packages/shared/src/api/client/interceptors/auth-interceptor.ts
  packages/shared/src/api/client/token/forward-response-cookie-list.ts
  packages/shared/src/api/server-api.ts
Due: oxfmt --write, oxlint --fix
