Repository BudnikOleksii/track-my-life: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt --write, oxlint --fix, stylelint --fix

fix: address PR review — agent tools, wording, code block langs, curl safety
  .claude/agents/accessibility-tester.md
  .claude/agents/dx-optimizer.md
  .claude/agents/readme-generator.md
  .claude/agents/seo-specialist.md
  .claude/commands/find-improvements.md
  .claude/commands/fix-improvements.md
  .cursor/agents/accessibility-tester.md
  .cursor/agents/dx-optimizer.md
  .cursor/agents/readme-generator.md
  .cursor/agents/seo-specialist.md
  .cursor/commands/find-improvements.md
  .cursor/commands/fix-improvements.md
  install-agents.sh
Due: oxfmt --write

chore: update improvements findings
  IMPROVEMENTS.md
Due: oxfmt --write

chore: add RSC migration audit proposal
  RSC_MIGRATION_PROPOSAL.md
Due: oxfmt --write

refactor: migrate Tier A components to server components
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/dashboard-filter-bar/DashboardFilterBar.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/dashboard-filter-bar/DashboardFilterBarClient.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-preview-table/ImportPreviewTable.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/components/import-summary/ImportSummary.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/step-indicator/StepIndicator.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/page.content.tsx
  apps/money-tracker/src/components/bulk-delete-action-bar/BulkDeleteActionBar.tsx
Due: oxfmt --write, oxlint --fix

fix: address PR review — a11y, Ukrainian copy, dialog retry bug
  RSC_MIGRATION_PROPOSAL.md
  apps/money-tracker/messages/en/recurring-transactions-page.json
  apps/money-tracker/messages/en/transactions-page.json
  apps/money-tracker/messages/uk/recurring-transactions-page.json
  apps/money-tracker/messages/uk/transactions-page.json
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/delete-category-dialog/DeleteCategoryDialog.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/delete-category-dialog/use-delete-category.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/by-category/[categoryId]/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/bulk-delete-transaction-dialog/BulkDeleteTransactionDialog.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/bulk-delete-transaction-dialog/BulkDeleteTransactionDialog.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list/TransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/bulk-delete-recurring-transaction-dialog/BulkDeleteRecurringTransactionDialog.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/bulk-delete-recurring-transaction-dialog/BulkDeleteRecurringTransactionDialog.tsx
  apps/money-tracker/src/hooks/use-bulk-delete-selection.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

feat: forward client IP and user-agent to auth API from server actions
  packages/next-shared/src/api/client/interceptors/forward-device-context.ts
  packages/next-shared/src/api/server-api.ts
Due: oxfmt --write, oxlint --fix

feat: forward client IP and user-agent to auth API from server actions (#66)
  packages/next-shared/src/api/client/interceptors/forward-device-context.ts
  packages/next-shared/src/api/server-api.ts
Due: oxfmt --write, oxlint --fix

feat: migrate list pages to RSC shells with client islands (#61)
  apps/money-tracker/src/actions/fetch-category-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-list-client/CategoryListClient.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-list-server/CategoryListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-type-filter/CategoryTypeFilter.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list-server/TransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list/TransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-row-actions/TransactionRowActions.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-row-actions/transaction-row-actions-context.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/components/recurring-transaction-detail-fields/RecurringTransactionDetailFields.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/components/recurring-transaction-detail-fields/RecurringTransactionDetailFields.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-list-server/RecurringTransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-list/RecurringTransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-row-actions/RecurringTransactionRowActions.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-row-actions/recurring-transaction-row-actions-context.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/constants/parse-recurring-transaction-search-params.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/constants/recurring-transaction-display.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/hooks/use-recurring-transaction-pending-actions.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/page.tsx
  packages/shared/src/api/generated/types.gen.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

fix: address PR review comments on RSC migration
  RSC_MIGRATION_PROPOSAL.md
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/components/recurring-transaction-detail-fields/RecurringTransactionDetailFields.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/hooks/use-recurring-transaction-pending-actions.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/page.tsx
Due: oxfmt --write, oxlint --fix

feat: migrate list pages to RSC shells with client islands (#61) (#67)
  RSC_MIGRATION_PROPOSAL.md
  apps/money-tracker/src/actions/fetch-category-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-list-client/CategoryListClient.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-list-server/CategoryListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-type-filter/CategoryTypeFilter.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list-server/TransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list/TransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-row-actions/TransactionRowActions.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-row-actions/transaction-row-actions-context.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/components/recurring-transaction-detail-fields/RecurringTransactionDetailFields.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/components/recurring-transaction-detail-fields/RecurringTransactionDetailFields.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-list-server/RecurringTransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-list/RecurringTransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-row-actions/RecurringTransactionRowActions.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-row-actions/recurring-transaction-row-actions-context.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/constants/parse-recurring-transaction-search-params.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/constants/recurring-transaction-display.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/hooks/use-recurring-transaction-pending-actions.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/page.tsx
  packages/shared/src/api/generated/types.gen.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

Path conditions:
  oxfmt --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md})
  oxlint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: any of: *.{scss,css}
