Repository BudnikOleksii/track-my-life: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt --write, oxlint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["oxfmt --write", "oxlint --fix"],
  "*.{json,md}": ["oxfmt --write"],
  "*.{scss,css}": ["stylelint --fix"]
}

chore: add labels and assignee to create-pr command
  .claude/commands/create-pr.md
  .cursor/commands/create-pr.md
  .rulesync/commands/create-pr.md
Due: oxfmt --write

chore: use actual repo labels in create-pr command
  .claude/commands/create-pr.md
  .cursor/commands/create-pr.md
  .rulesync/commands/create-pr.md
Due: oxfmt --write

chore: add labels and assignee to create-pr command (#37)
  .claude/commands/create-pr.md
  .cursor/commands/create-pr.md
  .rulesync/commands/create-pr.md
Due: oxfmt --write

chore: implement sprint 1 quick wins from improvement roadmap (#35)
  .agents/skills/brainstorming/scripts/server.cjs
  .github/workflows/pull-request.yml
  IMPROVEMENTS.md
  apps/money-tracker/next.config.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/category-breakdown-chart/CategoryBreakdownChartServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/daily-spending-chart/DailySpendingChartServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/trends-chart/TrendsChartServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/create-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/delete-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/revalidate-transaction-caches.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/update-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/actions/import-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/constants/parse-import-file.ts
  turbo.json
Due: oxfmt --write, oxlint --fix

fix: remove ssr: false from next/dynamic in server components
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/category-breakdown-chart/CategoryBreakdownChartServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/daily-spending-chart/DailySpendingChartServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/trends-chart/TrendsChartServer.tsx
Due: oxfmt --write, oxlint --fix

fix: address PR review — harden CSP and fix docs wording
  IMPROVEMENTS.md
  apps/money-tracker/next.config.ts
Due: oxfmt --write, oxlint --fix

chore: implement sprint 1 quick wins from improvement roadmap (#35) (#40)
  .agents/skills/brainstorming/scripts/server.cjs
  .github/workflows/pull-request.yml
  IMPROVEMENTS.md
  apps/money-tracker/next.config.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/category-breakdown-chart/CategoryBreakdownChartServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/daily-spending-chart/DailySpendingChartServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/trends-chart/TrendsChartServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/create-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/delete-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/revalidate-transaction-caches.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/update-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/actions/import-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/constants/parse-import-file.ts
  turbo.json
Due: oxfmt --write, oxlint --fix

feat: add WAI-ARIA combobox accessibility and keyboard navigation (#15)
  openspec/changes/archive/2026-04-05-combobox-accessibility/.openspec.yaml
  openspec/changes/archive/2026-04-05-combobox-accessibility/design.md
  openspec/changes/archive/2026-04-05-combobox-accessibility/proposal.md
  openspec/changes/archive/2026-04-05-combobox-accessibility/specs/combobox-aria/spec.md
  openspec/changes/archive/2026-04-05-combobox-accessibility/tasks.md
  openspec/specs/combobox-aria/spec.md
  packages/ui/src/components/molecules/combobox/combobox.module.scss
  packages/ui/src/components/molecules/combobox/combobox.tsx
  packages/ui/src/components/molecules/combobox/hooks/use-combobox-highlight.ts
  packages/ui/src/components/molecules/combobox/hooks/use-combobox-ids.ts
  packages/ui/src/components/molecules/combobox/hooks/use-combobox-keyboard.ts
  packages/ui/src/components/molecules/combobox/hooks/use-combobox-search.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

feat: add WAI-ARIA combobox accessibility and keyboard navigation (#15) (#41)
  openspec/changes/archive/2026-04-05-combobox-accessibility/.openspec.yaml
  openspec/changes/archive/2026-04-05-combobox-accessibility/design.md
  openspec/changes/archive/2026-04-05-combobox-accessibility/proposal.md
  openspec/changes/archive/2026-04-05-combobox-accessibility/specs/combobox-aria/spec.md
  openspec/changes/archive/2026-04-05-combobox-accessibility/tasks.md
  openspec/specs/combobox-aria/spec.md
  packages/ui/src/components/molecules/combobox/combobox.module.scss
  packages/ui/src/components/molecules/combobox/combobox.tsx
  packages/ui/src/components/molecules/combobox/hooks/use-combobox-highlight.ts
  packages/ui/src/components/molecules/combobox/hooks/use-combobox-ids.ts
  packages/ui/src/components/molecules/combobox/hooks/use-combobox-keyboard.ts
  packages/ui/src/components/molecules/combobox/hooks/use-combobox-search.ts
Due: oxfmt --write, oxlint --fix, stylelint --fix

fix: address PR review — empty JWT_SECRET default, base64url decoding, onboarding cache pollution
  apps/money-tracker/.env.example
  apps/money-tracker/src/utils/middleware/onboarding.ts
  packages/shared/src/utils/jwt.ts
Due: oxfmt --write, oxlint --fix

feat: add error boundaries, loading states, and custom 404 page (#37)
  IMPROVEMENTS.md
  apps/money-tracker/messages/en/all.json
  apps/money-tracker/messages/uk/all.json
  apps/money-tracker/package.json
  apps/money-tracker/src/app/[locale]/(app-layout)/budgets/loading.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/budgets/loading.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/loading.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/loading.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/loading.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/loading.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/error.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/loading.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/loading.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/loading.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/loading.tsx
  apps/money-tracker/src/app/[locale]/(auth-layout)/error.tsx
  apps/money-tracker/src/app/[locale]/[...rest]/page.tsx
  apps/money-tracker/src/app/[locale]/error.tsx
  apps/money-tracker/src/app/[locale]/not-found.tsx
  apps/money-tracker/src/app/global-error.tsx
  apps/storybook/src/stories/ErrorState.stories.tsx
  openspec/changes/archive/2026-04-06-add-error-boundaries-and-loading-states/.openspec.yaml
  openspec/changes/archive/2026-04-06-add-error-boundaries-and-loading-states/design.md
  openspec/changes/archive/2026-04-06-add-error-boundaries-and-loading-states/proposal.md
  openspec/changes/archive/2026-04-06-add-error-boundaries-and-loading-states/specs/error-boundary-ui/spec.md
  openspec/changes/archive/2026-04-06-add-error-boundaries-and-loading-states/specs/route-loading-states/spec.md
  openspec/changes/archive/2026-04-06-add-error-boundaries-and-loading-states/tasks.md
  openspec/specs/error-boundary-ui/spec.md
  openspec/specs/route-loading-states/spec.md
  packages/shared/package.json
  packages/ui/src/components/molecules/error-state/ErrorState.module.scss
  packages/ui/src/components/molecules/error-state/ErrorState.tsx
  pnpm-lock.yaml
Due: oxfmt --write, oxlint --fix, stylelint --fix

feat: add error boundaries, loading states, and custom 404 page (#37) (#43)
  IMPROVEMENTS.md
  apps/money-tracker/messages/en/all.json
  apps/money-tracker/messages/uk/all.json
  apps/money-tracker/package.json
  apps/money-tracker/src/app/[locale]/(app-layout)/budgets/loading.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/budgets/loading.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/loading.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/loading.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/loading.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/loading.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/error.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/loading.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/loading.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/loading.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/loading.tsx
  apps/money-tracker/src/app/[locale]/(auth-layout)/error.tsx
  apps/money-tracker/src/app/[locale]/[...rest]/page.tsx
  apps/money-tracker/src/app/[locale]/error.tsx
  apps/money-tracker/src/app/[locale]/not-found.tsx
  apps/money-tracker/src/app/global-error.tsx
  apps/storybook/src/stories/ErrorState.stories.tsx
  openspec/changes/archive/2026-04-06-add-error-boundaries-and-loading-states/.openspec.yaml
  openspec/changes/archive/2026-04-06-add-error-boundaries-and-loading-states/design.md
  openspec/changes/archive/2026-04-06-add-error-boundaries-and-loading-states/proposal.md
  openspec/changes/archive/2026-04-06-add-error-boundaries-and-loading-states/specs/error-boundary-ui/spec.md
  openspec/changes/archive/2026-04-06-add-error-boundaries-and-loading-states/specs/route-loading-states/spec.md
  openspec/changes/archive/2026-04-06-add-error-boundaries-and-loading-states/tasks.md
  openspec/specs/error-boundary-ui/spec.md
  openspec/specs/route-loading-states/spec.md
  packages/shared/package.json
  packages/ui/src/components/molecules/error-state/ErrorState.module.scss
  packages/ui/src/components/molecules/error-state/ErrorState.tsx
  pnpm-lock.yaml
Due: oxfmt --write, oxlint --fix, stylelint --fix

chore: add code-reviewer agent
  .claude/agents/code-reviewer.md
  .cursor/agents/code-reviewer.md
Due: oxfmt --write

refactor: use Zod enum for CurrencyCode validation in form schemas
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/dashboard-filter-bar/DashboardFilterBar.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/constants/dashboard.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/hooks/use-profile-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/constants/profile-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/create-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/update-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/hooks/use-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/constants/transaction-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/create-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/update-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/hooks/use-recurring-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/constants/recurring-transaction-form-schema.ts
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/profile-step/hooks/use-onboarding-profile-form.ts
  packages/shared/src/constants/currency.ts
Due: oxfmt --write, oxlint --fix

fix: fail closed when JWT secret is missing and remove unnecessary SubmitHandler casts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/TransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/RecurringTransactionFormPage.tsx
  packages/shared/src/utils/jwt.ts
Due: oxfmt --write, oxlint --fix

refactor: extract shared hooks, add FormField wrapper, and DX improvements (#39)
  IMPROVEMENTS.md
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form-page/CategoryFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form-page/hooks/use-category-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/hooks/use-dashboard-filters.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/change-password-form/ChangePasswordForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/ProfileForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/TransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/hooks/use-transaction-filters.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/RecurringTransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/hooks/use-recurring-transaction-filters.ts
  apps/money-tracker/src/app/[locale]/layout.tsx
  apps/money-tracker/src/hooks/use-url-filters.ts
  apps/storybook/package.json
  packages/shared/src/constants/type-guard.ts
  packages/ui/package.json
  packages/ui/src/components/molecules/field/field.tsx
  pnpm-lock.yaml
Due: oxfmt --write, oxlint --fix

Apply suggestions from code review
  IMPROVEMENTS.md
  apps/money-tracker/src/hooks/use-url-filters.ts
Due: oxfmt --write, oxlint --fix

fix: address PR review — send null to clear parent category on update
  IMPROVEMENTS.md
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form-page/hooks/use-category-form-page.ts
Due: oxfmt --write, oxlint --fix

refactor: extract shared hooks, add FormField wrapper, and DX improvements (#39) (#45)
  IMPROVEMENTS.md
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form-page/CategoryFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form-page/hooks/use-category-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/hooks/use-dashboard-filters.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/change-password-form/ChangePasswordForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/ProfileForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/TransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/hooks/use-transaction-filters.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/RecurringTransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/hooks/use-recurring-transaction-filters.ts
  apps/money-tracker/src/app/[locale]/layout.tsx
  apps/money-tracker/src/hooks/use-url-filters.ts
  apps/storybook/package.json
  packages/shared/src/constants/type-guard.ts
  packages/ui/package.json
  packages/ui/src/components/molecules/field/field.tsx
  pnpm-lock.yaml
Due: oxfmt --write, oxlint --fix

refactor: adopt React 19 APIs — remove forwardRef, add useActionState and useOptimistic (#41)
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form-page/CategoryFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form-page/hooks/use-category-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/components/sidebar-provider/SidebarProvider.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/change-password-form/ChangePasswordForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/change-password-form/hooks/use-change-password-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/ProfileForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/hooks/use-profile-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/TransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/hooks/use-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/hooks/use-recurring-transaction-actions.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/RecurringTransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/hooks/use-recurring-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(auth-layout)/components/auth-form/AuthForm.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/profile-step/ProfileStep.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/profile-step/hooks/use-onboarding-profile-form.ts
  apps/money-tracker/src/constants/action-state.ts
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/.openspec.yaml
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/design.md
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/proposal.md
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/specs/react19-form-state/spec.md
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/specs/react19-forward-ref-removal/spec.md
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/specs/react19-optimistic-updates/spec.md
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/tasks.md
  openspec/specs/react19-form-state/spec.md
  openspec/specs/react19-forward-ref-removal/spec.md
  openspec/specs/react19-optimistic-updates/spec.md
  packages/ui/src/components/atoms/alert/alert.tsx
  packages/ui/src/components/atoms/aspect-ratio/aspect-ratio.tsx
  packages/ui/src/components/atoms/avatar/avatar.tsx
  packages/ui/src/components/atoms/badge/badge.tsx
  packages/ui/src/components/atoms/checkbox/checkbox.tsx
  packages/ui/src/components/atoms/input/input.tsx
  packages/ui/src/components/atoms/select/select.tsx
  packages/ui/src/components/atoms/skeleton/skeleton.tsx
  packages/ui/src/components/atoms/underline-link/underline-link.tsx
  packages/ui/src/components/molecules/accordion/accordion.tsx
  packages/ui/src/components/molecules/alert-dialog/alert-dialog.tsx
  packages/ui/src/components/molecules/breadcrumb/breadcrumb.tsx
Due: oxfmt --write, oxlint --fix

fix: address PR review — add error toast to category form, wrap delete in transition
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form-page/CategoryFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form-page/hooks/use-category-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/hooks/use-recurring-transaction-actions.ts
Due: oxfmt --write, oxlint --fix

refactor: adopt React 19 APIs — remove forwardRef, add useActionState and useOptimistic (#41) (#47)
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form-page/CategoryFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/components/category-form-page/hooks/use-category-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/components/sidebar-provider/SidebarProvider.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/change-password-form/ChangePasswordForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/change-password-form/hooks/use-change-password-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/ProfileForm.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/components/profile-form/hooks/use-profile-form.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/TransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/hooks/use-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/hooks/use-recurring-transaction-actions.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/[id]/page.content.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/RecurringTransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/hooks/use-recurring-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(auth-layout)/components/auth-form/AuthForm.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/profile-step/ProfileStep.tsx
  apps/money-tracker/src/app/[locale]/(onboarding-layout)/onboarding/components/profile-step/hooks/use-onboarding-profile-form.ts
  apps/money-tracker/src/constants/action-state.ts
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/.openspec.yaml
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/design.md
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/proposal.md
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/specs/react19-form-state/spec.md
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/specs/react19-forward-ref-removal/spec.md
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/specs/react19-optimistic-updates/spec.md
  openspec/changes/archive/2026-04-07-adopt-react-19-apis/tasks.md
  openspec/specs/react19-form-state/spec.md
  openspec/specs/react19-forward-ref-removal/spec.md
  openspec/specs/react19-optimistic-updates/spec.md
  packages/ui/src/components/atoms/alert/alert.tsx
  packages/ui/src/components/atoms/aspect-ratio/aspect-ratio.tsx
  packages/ui/src/components/atoms/avatar/avatar.tsx
  packages/ui/src/components/atoms/badge/badge.tsx
  packages/ui/src/components/atoms/checkbox/checkbox.tsx
  packages/ui/src/components/atoms/input/input.tsx
  packages/ui/src/components/atoms/select/select.tsx
  packages/ui/src/components/atoms/skeleton/skeleton.tsx
  packages/ui/src/components/atoms/underline-link/underline-link.tsx
  packages/ui/src/components/molecules/accordion/accordion.tsx
  packages/ui/src/components/molecules/alert-dialog/alert-dialog.tsx
  packages/ui/src/components/molecules/breadcrumb/breadcrumb.tsx
Due: oxfmt --write, oxlint --fix

feat: add timezone-aware date filtering for transactions and dashboard
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/category-breakdown-chart/CategoryBreakdownChartServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/recent-transaction-list/RecentTransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/summary-widget/SummaryWidgetServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/top-category-list/TopCategoryListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/trends-chart/TrendsChartServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/export-transaction-button/ExportTransactionButton.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/hooks/use-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list-server/TransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list/TransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/hooks/use-recurring-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-list/RecurringTransactionList.tsx
  apps/money-tracker/src/app/[locale]/components/timezone-offset-setter/TimezoneOffsetSetter.tsx
  apps/money-tracker/src/app/[locale]/layout.tsx
  apps/money-tracker/src/constants/cookie.ts
  apps/money-tracker/src/utils/get-timezone-offset.ts
  packages/shared/src/api/generated/index.ts
  packages/shared/src/api/generated/types.gen.ts
  packages/shared/src/utils/convert-filter-date-list.ts
  packages/shared/src/utils/date.ts
Due: oxfmt --write, oxlint --fix

fix: address PR review — parse date as local time in list and guard empty endDate
  IMPROVEMENTS.md
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list/TransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/hooks/use-recurring-transaction-form-page.ts
Due: oxfmt --write, oxlint --fix

fix: add timezone-aware date filtering for transactions and dashboard (#48)
  IMPROVEMENTS.md
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/category-breakdown-chart/CategoryBreakdownChartServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/recent-transaction-list/RecentTransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/summary-widget/SummaryWidgetServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/top-category-list/TopCategoryListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/dashboard/components/trends-chart/TrendsChartServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/export-transaction-button/ExportTransactionButton.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/hooks/use-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list-server/TransactionListServer.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-list/TransactionList.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-form-page/hooks/use-recurring-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/components/recurring-transaction-list/RecurringTransactionList.tsx
  apps/money-tracker/src/app/[locale]/components/timezone-offset-setter/TimezoneOffsetSetter.tsx
  apps/money-tracker/src/app/[locale]/layout.tsx
  apps/money-tracker/src/constants/cookie.ts
  apps/money-tracker/src/utils/get-timezone-offset.ts
  packages/shared/src/api/generated/index.ts
  packages/shared/src/api/generated/types.gen.ts
  packages/shared/src/utils/convert-filter-date-list.ts
  packages/shared/src/utils/date.ts
Due: oxfmt --write, oxlint --fix

fix: use updateTag instead of revalidateTag for server action cache invalidation (#43)
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/actions/create-category.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/actions/delete-category.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/actions/update-category.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/constants/category-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/actions/update-profile.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/fetch-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/revalidate-transaction-caches.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/actions/import-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/create-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/delete-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/pause-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/resume-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/update-recurring-transaction.ts
Due: oxfmt --write, oxlint --fix

fix: handle nullable parentCategoryId in create-category action
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/actions/create-category.ts
Due: oxfmt --write, oxlint --fix

fix: use updateTag instead of revalidateTag for server action cache invalidation (#43) (#49)
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/actions/create-category.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/actions/delete-category.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/actions/update-category.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/categories/constants/category-form-schema.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/settings/actions/update-profile.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/fetch-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/revalidate-transaction-caches.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/import/actions/import-transaction-list.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/create-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/delete-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/pause-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/resume-recurring-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/recurring/actions/update-recurring-transaction.ts
Due: oxfmt --write, oxlint --fix

feat: improve transaction form — radio type, time picker, category picker (#44)
  apps/money-tracker/messages/en/transactions-form-page.json
  apps/money-tracker/messages/uk/transactions-form-page.json
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/create-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/update-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/category-picker/CategoryPicker.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/category-picker/CategoryPicker.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/category-picker/hooks/use-category-picker.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/TransactionFormPage.module.scss
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/TransactionFormPage.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/transaction-form-page/hooks/use-transaction-form-page.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/constants/transaction-form-schema.ts
  apps/storybook/src/stories/RadioGroup.stories.tsx
  apps/storybook/src/stories/TimePicker.stories.tsx
  openspec/changes/archive/2026-04-07-improve-transaction-form/.openspec.yaml
  openspec/changes/archive/2026-04-07-improve-transaction-form/design.md
  openspec/changes/archive/2026-04-07-improve-transaction-form/proposal.md
  openspec/changes/archive/2026-04-07-improve-transaction-form/specs/category-hierarchical-picker/spec.md
  openspec/changes/archive/2026-04-07-improve-transaction-form/specs/time-picker-ui/spec.md
  openspec/changes/archive/2026-04-07-improve-transaction-form/specs/transaction-form-page/spec.md
  openspec/changes/archive/2026-04-07-improve-transaction-form/specs/transaction-form-ui/spec.md
  openspec/changes/archive/2026-04-07-improve-transaction-form/specs/transaction-type-radio/spec.md
  openspec/changes/archive/2026-04-07-improve-transaction-form/tasks.md
  openspec/specs/category-hierarchical-picker/spec.md
  openspec/specs/time-picker-ui/spec.md
  openspec/specs/transaction-form-page/spec.md
  openspec/specs/transaction-type-radio/spec.md
  packages/ui/package.json
  packages/ui/src/components/atoms/input/input.module.scss
  packages/ui/src/components/atoms/input/input.tsx
  packages/ui/src/components/atoms/radio-group/radio-group.module.scss
  packages/ui/src/components/atoms/radio-group/radio-group.tsx
  packages/ui/src/components/atoms/time-picker/time-picker.module.scss
  packages/ui/src/components/atoms/time-picker/time-picker.tsx
  pnpm-lock.yaml
Due: oxfmt --write, oxlint --fix, stylelint --fix

fix: address PR review — explicit DTO fields, aria-pressed, picker sync, input className
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/actions/create-transaction.ts
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/category-picker/CategoryPicker.tsx
  apps/money-tracker/src/app/[locale]/(app-layout)/transactions/components/category-picker/hooks/use-category-picker.ts
  packages/ui/src/components/atoms/input/input.tsx
Due: oxfmt --write, oxlint --fix
